.chat {
    height: 80%;
}
.messages {
    list-style: none;
    overflow-y: scroll;
    height: 80%;
    overflow-wrap: break-word;
}

.draft {
    width: 50%;
}
.send-button {
    border-radius: 5px;
}