
.compose-session {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}
.options tr td {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}
.options .boulder-grades td {
    background: rgb(136,132,216);
}
.options .rope-grades td {
    background: rgb(108, 208, 157);
}

.options tr td:hover {
    opacity: .5;
}
.session {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}
.session li {
    background: rgb(255, 228, 22);
    border-radius: 25%;
    width: 37px;
    text-align: center;
}
.submit-session-button {
    border: 2px solid black;
    background: white;
    border-radius: 5px;
    width: 20%;
    margin: 2px;
}
.submit-session-button:hover {
    background: black;
    color: white;
}
.remove-button {
    border: 2px solid black;
    background: white;
    border-radius: 5px;
    width: 5%;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

}
.remove-button:hover {
    background: black;
    color: white;
}


.compose-boulder-container {
    display: flex;
    justify-content: center;
}
.compose-boulder-form {
    width: 30%;
}
.compose-boulder {
    display: flex;
    flex-direction: column;
}
.switch-button {
    border: 2px solid black;
    border-radius: 5px;
}
button:focus {
    outline: none;
}
