.session-chart {
    height: 100px;
}
.current-type {
    font-size: 32px;
    font-weight: 450;
    text-align: center;
    margin: 5px;
}
.profile-controls {
    display: flex;
    justify-content: space-around;
}