
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-box {
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: rad 5s infinite;
}

@keyframes rad {
    0%, 100% {border-radius: 50%; border: 1px dashed rgb(108, 208, 157);}
    50% {border-radius: 40%; border: 1px dashed rgba(136,132,216, .5);}
}

.get-started {
    width: 50%;
}

.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100px;
}
.social-link img {
    width: 30px;
    height: 30px;
}