.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.links1 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.links1 > * {
    color: white;
}
.links1 > *:hover {
    text-decoration: none;
}

.links2 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.links2 > * {
    color: white;
}
.links2 > *:hover {
    text-decoration: none;
}

.appname {
    font-size: 24px;
    color: white;
}

.spacer {
    width: 80%;
}

.logout-button {
    background: black;
    border: none;
}
