.navbar {
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: black;
    margin: 0;
}
.navbar > * {
    margin: 0 10px;
}
.fa-bars {
    display: none; 
}
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 24px;
    justify-content: space-evenly;
}
.topbun {
    background: white;
    height: 2px;
    width: 24px;
    transition: transform 1s;

}
.patty {
    background: white;
    height: 2px;
    width: 24px;
    transition: transform 1s;

}
.botbun {
    background: white;
    height: 2px;
    width: 24px;
    transition: transform 1s;

}
.hidden {
    width: 0;
    transition: width 1s;
}
.counterclock {
    transform: rotateZ(-45deg) translate(3px,-3px);
    transition: transform 1s;
}
.clock {
    transform: rotateZ(45deg) translate(3px,3px);
    transition: transform 1s;
}

.fa-search, .fa-sign-out-alt, .fa-bars {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

[class*="fas fa-home"] {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.links1 {
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 49px;
    background: rgb(1,1,1);
    font-size: 18px;
    margin: 0;
    z-index: 1; 
    /* z index needs to be below position */
}

.links1 > * {
    color: white !important; 
    padding: 5px 10px;
}
.links1 > *:hover {
    text-decoration: none;
    background: gold;
}
.links1 > *:focus {
    text-decoration: none;
}

.links1 a {
    border: 1px solid rgb(55, 55,55);
}

.links2 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.links2 > * {
    color: white;
    margin-left: 10px;

}
.links2 > *:hover {
    text-decoration: none;
    color: gold;

}
.links2 > *:focus {
    text-decoration: none;
}

.appname {
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 100;
    font-size: 24px;
}
.appname:focus, .appname:hover {
    text-decoration: none;
    color: white;
}

.spacer {
    width: 80%;
}

.logout-button {
    background: black;
    border: none;
    display: flex;
    justify-content: flex-start;
}



