.profile {
    height: 100%;
    padding: 10px;
}

.profile img {
    width: 100px;
    height: 100px;
    float: left;
}
.profile-header {
    display: flex;
    align-items: center;
}

.climb-chart {
    height: 50%;
}
h2 {
    background: aliceblue;
}

.recharts-default-tooltip *{
    width: 30px;
    display: flex;
    flex-direction: row;
}
.profile-swap {
    border-radius: 5px;
    background: white;
    border: 2px solid black;
}
.profile-swap:hover {
    background: black;
    color: white;
}


