.signup-form-container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.signup-form-container img {
    height: 85px;
}

.signup-form-container .title {
    letter-spacing: 6px;
    font-weight: 100;
    font-size: 24px;
}



.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form .btn {
    border: none;
    background: #59277d;
}