.standings {
    background: #f2f2fd;
    height: 90%;
}
.teams {
    list-style: none;
}
.teams p {
    margin: 0;
}
.standings-title {
    font-size: 32px;    
    font-weight: 600;
}
.teams li {
    background: rgb(55,55,55);
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 10px;
    color: white;
}
.teams p:first-child {
    font-size: 18px;
    font-weight: 600;
}
.members {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.teams i {
    position: absolute;
    opacity: .3;
    font-size: 57px;
    top: -29px;
}
.icon-holder {
    position: relative;
}

.highest {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.highest li {
    margin: 2px 0;
}

.features {
    color: black;
}