.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links1 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.links2 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}
